
::-webkit-scrollbar {

        display: none;
    }
    ::-moz-scrollbar {

        display: none;
    }


#main_frame
{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

#map{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
