
::-webkit-scrollbar {

        display: none;
    }
    ::-moz-scrollbar {

        display: none;
    }


#main_frame
{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: none;
}

#map{
  position: absolute;
  top: 8%;
  left: 0%;
  height: 92%;
  width: 100%;
}

#send_box{
  position: absolute;
  top: 80%;
  left: 0%;
  height: 10%;
  width: 100%;
  z-index: 2;
  display: none;
}

#loader_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

#choose_box{
  position: absolute;
  top: 80%;
  left: 0%;
  height: 10%;
  width: 100%;
  z-index: 2;
  display: none;
}

#time_calculator
{
  position: absolute;
  top: 20%;
  left: 5%;
  height: 15d%;
  width: 40%;
  display: none;
}
